@import '../../scss/global.scss';

.acc {
  width: 100%;
  position: relative;
  z-index: 0;
  &.inactive {
    display: none
  }

  ul {
    @include d-flex(center, center, row);
    flex-wrap: wrap;

    li {
      @include medium {
        margin: 0 2.5% 2.5% 2.5%;
      }
    }
  }
}


