@import '../../scss/global.scss';

.app {
  background: linear-gradient(180deg, #2D3A58 0%, #171E2E 82.41%);
  font-size:$fontSize-sm;
  width: 100vw;
  font-family: 'Lato',sans-serif;
  overflow: hidden;

}




