.Card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
   
}
.Card__title{
    color:white;
    position:absolute;
    width:100px;
    background-color: #2D3A58 ;
    font-size: 25px;
}
.Card__average{
    color:white;
    font-size: 25px;
}