@import '../../scss/global.scss';

input {
    width: 100%;
}

ul {
    @include d-flex(center, center, row);
    flex-wrap: wrap;

    li {
      @include medium {
        margin: 0 2.5% 2.5% 2.5%;
      }
    }
  }

