@import '../../scss/global.scss';

.header{
  align-items: center;
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato',sans-serif;

  @include medium {
    width: 95vw;
    padding: 20px;

  @include large {
    width: 90vw;
  }

  &__logo {
    @include large {
      width: 75px;
      height: 56px;
    }

  }
  
  &__title{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    font-family: 'Lato',sans-serif;
    color: white;
    padding: 0px 40px;
    margin-top: 5px;
  
  &__openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  
  }
  &__mainMenu{
   z-index:2;
  }
    h1{
      font-weight:100;
      padding: 5px;
    }
  }

  
}
}