@import '../../scss/global.scss';


.header {
  width:  100%;
  overflow: hidden;
  @include d-flex(center, center, column);
  &__title {
    width: calc(100% - 2rem);
    flex-wrap: wrap;
    @include d-flex(center, center, row);
    padding: 1rem;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }

    p {
      margin-right: 0.3rem;
      color: #FFFFFF;
      font-size: 30px;

      @include medium{
        font-size: 40px;
      }
  
      @include large {
        font-size: 80px;
      }
    }
    .forwardWord {
      font-weight: bold;
    }
  }
}

.header__brands{
 @include d-flex(center, center, null);
 padding: 1rem 0;

  &__brandsLogo {
    @include large {
      width: 75px;
      height: 56px;
    }

  }
}
