@import '../../scss/global.scss';

.Card {
    position: relative;
    overflow: hidden;
	&:after {
		content:'';
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.178);
		position: absolute;
		top: 0;
		transition: 0.5s;
	}
	&:hover:after {
		background: rgba(0, 0, 0, 0.575);
		z-index: -1;
	}
	&:hover {
		transform: scale(1.1);
	}
	&__title {
		position: absolute;
		top: 5%;
		left: 5%;
		color: #fff;
		font-weight: bold;
		font-size: 18px;
	}
	&__average {
		span {
			@include d-flex(null, center, row);
		}
	}
	&__averageTitle {
		color: #fff;
		font-size: 16px;
	}
}
