@import '../../scss/global.scss';

.filtersCard {
 
  width: 100vw;
  overflow: hidden;
  @include d-flex(space-around, center, column);
  height: 100vh;
  background: linear-gradient(180deg, #2D3A58 0%, #171E2E 82.41%);
  transform: translateY(135%);
  transition: 0.5s ease-in-out;
  position: absolute;
  top: -130%;
  z-index:1;
  &__filterTitle {
    font-size: 26px;
    color: #ffffff
  }

  &.active {
    transform: translateY(0);
   
  }
}
.buttons{
  @include d-flex(space-around, center, null);
  width: 100%;
  overflow: hidden;
}
.sliders {
  @include d-flex(center, center, column);
  width: 100%;
}
.genres {
  @include d-flex(center, center, column);
  width: 80%;
  h3 {
    margin-bottom: 0.5rem;
    
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}