@import '../../scss/global.scss';

.filtersCard {
  padding: 0 0 1rem 0;
  width: 100%;
  overflow: hidden;
  @include d-flex(space-around, center, column);
  height: 100vh;
  background: linear-gradient(180deg, #2D3A58 0%, #171E2E 82.41%);
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 0;
  z-index: 1;

  &__filterTitle {
    font-size: 26px;
    color: #ffffff
  }

  &.active {
    transform: translateX(0);
  }
}
.buttons{
  @include d-flex(space-around, center, null);
  width: 100%;
  overflow: hidden;
}
.sliders {
  @include d-flex(center, center, column);
  width: 100%;
}
.genres {
  @include d-flex(center, center, column);
  width: 80%;
  h3 {
    margin-bottom: 0.5rem;
    
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}