

.genre div{
    margin-top: 20px;
    text-align: center;
}

.genre div input[type="checkbox"] {
    position: absolute;
    left: -9999px;}

.genre div label {
    position: relative;
    box-sizing: border-box;
    padding: 7px 25px 7px ;
    background-color: #ededed;
    border: 2px solid #004a7f;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: #004a7f;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.genre div label:hover::before {
    border: 2px solid #004a7f;
    border-radius:  50%;
}

.genre div label::before {
    position: absolute;
    content: "";
    left: 5px;
    top: 30%;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 2px  solid #004a7f;
    border-radius: 5px;
    transition: all .25s ease-in-out;
}

.genre div input:checked + .genre div label {
    background-color: #004a7f;
    border-radius:  32px;
    color: #ededed;
}

.genre div input:checked + .genre div label::before {
    background-color: #004a7f;
    border: 8px solid #ddd;
    border-radius:  50%;
}